.Login-Container{
    text-align:left;
    color: #000000;
    width:20em;
    border:1px solid rgba(17, 17, 51, .25);
    border-radius: 5px;
    padding:2em;
    margin: 2em auto;
    background-color: #FFF;
    font-size: 1rem;
  }

.Button{
    width: 5%;
}

.Padding{
    width: 50%;
    margin: auto;
}
.login-alert{
    margin: 2em auto;
    width: 20em;
}